/*************************************************TAG REFERENCES*********************************************************************/

a {
  color: #11999E;
  text-decoration: none;
  margin: 0 30px 50px;
}

body {
  margin: 0;
  text-align: center;
  color: #40514E;
}

h1 {
  margin-top: 0;
  font-family: 'Dancing Script', serif;
  font-size: 5.625rem;
  margin-bottom: 0;
  color: maroon;
}

h2 {
  font-size: 2.125rem;
  font-family: century, serif;
  color: #FF8585;
  padding-bottom: 20px;
}

h3 {
  font-family: century, serif;
  color: #11999E;
  font-size: 1.5rem;
}

hr {
  width: 5%;
  border-top: 10px dotted;
  color: #11999E;
  margin: 50px auto;
}

p {
  font-family: century, serif;
  font-size: 1.25rem;
  line-height: 1.5;
}

td {
  padding-right: 20px;
}

/*************************************************CLASS REFERENCES*******************************************************************/

.bottom-cloud {
  position: absolute;
  left: 300px;
  bottom: 300px;
}

.bottom-container {
  background-color: #EAF6F6;
  padding: 50px 0 20px;
}

.btn {
  background: #bddcf0;
  background-image: -webkit-linear-gradient(top, #bddcf0, #203d4f);
  background-image: -moz-linear-gradient(top, #bddcf0, #203d4f);
  background-image: -ms-linear-gradient(top, #bddcf0, #203d4f);
  background-image: -o-linear-gradient(top, #bddcf0, #203d4f);
  background-image: linear-gradient(to bottom, #bddcf0, #203d4f);
  -webkit-border-radius: 28;
  -moz-border-radius: 28;
  border-radius: 28px;
  font-family: Georgia;
  color: #eeff82;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  text-decoration: none;
}

.btn:hover {
  background: #080808;
  background-image: -webkit-linear-gradient(top, #080808, #3498db);
  background-image: -moz-linear-gradient(top, #080808, #3498db);
  background-image: -ms-linear-gradient(top, #080808, #3498db);
  background-image: -o-linear-gradient(top, #080808, #3498db);
  background-image: linear-gradient(to bottom, #080808, #3498db);
  text-decoration: none;
}

.footer-link {
  font-size: 1.5em;
}

.middle-container {
  margin: 100px 0;
}

.Myimg {
  height: 300px;
  width: 300px;
}

.prog {
  font-weight: normal;
}

.top-container {
  background-color: #E4F9F5;
  padding-top: 200px;
  position: relative;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 70px;
  height: 72px;
  width: 225px;
}

.skill-row {
  width: 50%;
  margin: 100px auto;
  text-align: left;
}

.skill-image-a {
  width: 100px;
  float: left;
  margin-right: 30px;
}

.skill-image-b {
  width: 100px;
  float: right;
  margin-left: 30px;
}

.copyright {
  padding: 20px 0;
}
